---
layout: none
---

{% include header.html %}


<body class="bg-midnight text-white font-sans min-h-screen flex flex-col">

  <section class="bg-midnight border-b border-white-800" style="z-index: -10">
  <div class="relative isolate px-6 lg:px-8">
    <!-- Top Gradient Blob -->
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[72.25rem] -translate-x-1/2 rotate-[30deg] 
        bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 
        sm:left-[calc(50%-30rem)] sm:w-[115.5rem]"
        style="clip-path: polygon(
          74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 
          85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 
          60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 
          45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 
          17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 
          74.1% 44.1%
        );">
      </div>
    </div>

    <!-- Main Content -->
    <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">

        <h1 class="text-4xl sm:text-7xl font-semibold tracking-tight text-balance 
        text-transparent bg-clip-text 
        bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 
        pb-10">
          We Engineer What's Next
        </h1>

        <h1 class="text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">
          From Biofabrication to Applied AI
        </h1>
        <p class="mt-8 text-lg font-medium text-pretty text-gray-300 sm:text-xl/relaxed">
          <!-- Vulcan Technologies develops and delivers novel software solutions for national security, industries, and research institutions. -->
           Engineering solutions where software meets the physical world.
          <!-- From biofabrication to autonomous systems and AI-driven data pipelines, we research and develop solutions at the intersection of science, hardware, and mission-critical demands. -->
        </p>
        


      </div>
    </div>

    <!-- Bottom Gradient Blob -->
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl 
                sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div 
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[72.25rem] -translate-x-1/2 
               bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 
               sm:left-[calc(50%+36rem)] sm:w-[115.5rem]"
        style="clip-path: polygon(
          74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 
          85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 
          60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 
          45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 
          17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 
          74.1% 44.1%
        );">
      </div>
    </div>
  </div>
  </section>

  <div class="overflow-hidden bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg">
          <!-- <h2 class="text-base/7 font-semibold text-indigo-400">Deploy faster</h2> -->
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">Our Mission</p>
          <p class="mt-6 text-lg/8 text-gray-300">Vulcan Technologies aims to deliver multi-disciplinary solutions to complex, real-world problems. We focus on saving time, mitigating risks, and driving operational efficiency.</p>
          <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-400 lg:max-w-none">
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute top-1 left-1 size-5 text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
                </svg>
                Leverage Data.
              </dt>
              <dd class="inline">Build data pipelines to process your company data and extract insights more efficiently.</dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute top-1 left-1 size-5 text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
                </svg>
                Ground-breaking Research.
              </dt>
              <dd class="inline">Driving </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute top-1 left-1 size-5 text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                  <path fill-rule="evenodd" d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" />
                </svg>
                Applied Software Engineering.
              </dt>
              <dd class="inline"></dd>
            </div>
          </dl>
        </div>
      </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg/8 font-semibold text-white-900">Clients & Partners</h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <!-- <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/avant-genomics.png" alt="Avant Genomics" width="158" height="48"/> -->
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="/assets/images/avant-genomics.png"
          alt="Avant Genomics" width="250" height="96" />
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1"
          src="/assets/images/lsp.png" alt="Tuple" width="250" height="96"/>
        <!-- <img class="col-span-2 max-h-24 w-full object-contain sm:col-start-2 lg:col-span-1"
          src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="250" height="96" /> -->
        <!-- <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48" /> -->
      </div>
    </div>
      <!-- img here -->
    </div>
  </div>
</div>


  </section>

  <section class="bg-gray-800 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg/8 font-semibold text-white-900">Clients & Partners</h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <!-- <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/avant-genomics.png" alt="Avant Genomics" width="158" height="48"/> -->
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="/assets/images/avant-genomics.png"
          alt="Avant Genomics" width="250" height="96" />
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1"
          src="/assets/images/lsp.png" alt="Tuple" width="250" height="96"/>
        <!-- <img class="col-span-2 max-h-24 w-full object-contain sm:col-start-2 lg:col-span-1"
          src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="250" height="96" /> -->
        <!-- <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48" /> -->
      </div>
    </div>
  </section>


  <script>
    // const words = ["AI Integration", "Computing Efficiency", "Cloud Migration"];
    const words = ["AI", "Data", "Software"];

    const el = document.getElementById("typing-text");

    let wordIndex = 0;
    let charIndex = 0;
    let typing = true;

    function typeLoop() {
      const currentWord = words[wordIndex];

      if (typing) {
        el.textContent = currentWord.slice(0, charIndex + 1);
        charIndex++;
        if (charIndex === currentWord.length) {
          typing = false;
          setTimeout(typeLoop, 2400); // pause before deleting
          return;
        }
      } else {
        el.textContent = currentWord.slice(0, charIndex - 1);
        charIndex--;
        if (charIndex === 0) {
          typing = true;
          wordIndex = (wordIndex + 1) % words.length;
        }
      }

      setTimeout(typeLoop, typing ? 100 : 50);
    }

    typeLoop();
  </script>

  </section>



</body>

{% include footer.html %}